html,
body,

#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* .leaflet-popup-content {
  width:700px;
  height:400px;
}

.leaflet-tooltip img {
  max-width: 200px;
  max-height: 200px;
    }
.popupImage {
  max-width: 20%;
  max-height: 20%;
} */
.popupContainer image {width: 100%;}
h1 {
  color: aliceblue;
  font-size: 3em;
}

.leaflet-zoom-box {
  display: none;
}