html,
body,

#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* .leaflet-popup-content {
  width:700px;
  height:400px;
}

.leaflet-tooltip img {
  max-width: 200px;
  max-height: 200px;
    }
.popupImage {
  max-width: 20%;
  max-height: 20%;
} */
.popupContainer image {width: 100%;}
h1 {
  color: aliceblue;
  font-size: 3em;
  font-family:Helvetica;
  font-style:initial;
}

.leaflet-zoom-box {
  display: none;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgb(151, 204, 236);
  color: #444;
  padding: 18px;
  width: 10%;
  border: none;
  text-align: left;
  outline: none;
  font-family: 'Arial Narrow';
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: rgb(200, 95, 57);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #bde9f7;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}